

.main-container{

}

.navbar-container{
    display: flex;
    align-items: center;
    padding: 0.25rem 5rem;
    justify-content: space-between;
    flex-wrap: wrap;
}


.profile-option{
    display: flex;
    align-items:center;
    gap: 1.5rem;
    border: 1.5px solid #EFF0F6;
    padding: 0.45rem 1rem 0.45rem 0.45rem;
    border-radius: 1.5rem;
    width: 4.5rem;
    height: 2.1rem;
    cursor: pointer;
    box-shadow: 0px 5px 5px 0px #080F340A;

    .profile{
        border-radius: 6rem;
        width: 2.25rem;
    }

}


.community-section{
    background: rgba(241, 247, 255, 1);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0 5rem 0;
    gap: 1.75rem;
}

.user-card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: rgba(255, 255, 255, 1);
    padding: 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
    /* width: 80%; */
    /* flex-direction: row; */

    .pic{
        border-radius: 0.5rem;
        /* width: 3rem;
        height: 3rem; */
        width:4.5rem;
        height:4.5rem;
    }

    .name{
        font-family: DM Sans;
        font-size: 1rem;
        font-weight: 600;
        color: rgba(0, 0, 0, 1);
    }

}

.greytext{
    color: rgba(106, 106, 106, 1);
    font-family: DM Sans;
    font-size: 0.85rem;
    font-weight: 400;
}

.footer{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 5.5rem;
    background: rgba(74, 58, 255, 1);
}


.lower-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0 5rem 0;
    gap: 1.75rem;
}



.comment-card{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px 0px 0px 0px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.04);
    width: 23rem;
    cursor: pointer;

    .comment{
        font-family: DM Sans;
        font-size: 1rem;
        font-weight: 500;
        text-align: center;
        color: rgba(0, 0, 0, 1);
    }

    .likedby{
        font-family: DM Sans;
        font-size: 0.9rem;
        font-weight: 400;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: rgba(0, 0, 0, 0.6);
    }

    .likeimg{
        width:1.1rem;
    }

    .redpart{
        padding: 0.55rem 0.85rem;
        border-radius: 10px;
        background: rgba(251, 237, 234, 1);
        font-family: DM Sans;
        font-size: 0.75rem;
        font-weight: 500;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: rgba(174, 36, 0, 1);
    }

    .greenpart{
        padding: 0.55rem 0.85rem;
        border-radius: 10px;
        background: rgba(218, 249, 235, 1);
        font-family: DM Sans;
        font-size: 0.75rem;
        font-weight: 500;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: rgba(0, 126, 68, 1);
    }

}



.interest-card{

    display: flex;
    width: 18rem;
    flex-direction: column;
    gap: 0.25rem;
    padding: 0.65rem 1rem;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.04);
    cursor: pointer;

    .interest-img{
        border-radius: 0.5rem;
        width: 2.25rem;
        height: 2.25rem;
    }

    .interest-name{
        font-family: DM Sans;
        font-size: 1rem;
        font-weight: 500;
        color: rgba(3, 3, 3, 0.6);        
    }

    .interest-score{
        font-family: DM Sans;
        font-size: 1.5rem;
        font-weight: 700;
        color: rgba(3, 3, 3, 1);        
    }
}


.info-tabs{
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 0.85rem 1.5rem;
    border-radius: 1rem;
    background: rgba(241, 247, 255, 1);
    font-family: Sora;
    font-size: 0.85rem;
    font-weight: 600;
    color: rgba(107, 114, 128, 1);

    div{
        cursor: pointer;
    }

    .selected-tab{
        padding: 6px 12px 6px 12px;
        border: 1px solid var(--Boarder-DEFAULT, rgba(229, 231, 235, 1));
        border-radius: 0.5rem;
        font-family: Sora;
        font-size: 0.85rem;
        font-weight: 600;
        text-align: center;
        color: rgba(74, 58, 255, 1);
        background: white;
    }
}


.interest-card-list{
    margin-top:1rem;
    flex-wrap:wrap;
    justify-content: center;
    width: 80%;
}

.filter-btn{
    margin-left: 18%;
}
@media (max-width: 1200px) {

    .filter-btn{
        margin-left: 10%;
    }

}
@media (max-width: 1100px) {

    .filter-btn{
        margin-left: 5%;
    }

}
@media (max-width: 900px) {

    .filter-btn{
        margin-left: 15%;
    }

}
@media (max-width: 820px) {

    .filter-btn{
        margin-left: 10%;
    }

}
@media (max-width: 720px) {

    .filter-btn{
        margin-left: 7%;
    }

}
@media (max-width: 500px) {

    .filter-btn{
        margin-left: 5%;
    }

}




.askcard{
    width: 35vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.85rem;
    background: rgba(255, 255, 255, 1);

    .title{
        font-family: Sora;
        font-size: 20px;
        font-weight: 700;
        color: rgba(0, 0, 0, 1);
    }

    .answer_textarea{
        height: 5rem;
        resize: none;
        padding: 0.5rem;
        border-radius: 0.85rem;
        color: rgba(255, 255, 255, 1);
        border: 1px solid rgba(0, 0, 0, 0.2);
        font-family: Sora;
        font-size: 14px;
        font-weight: 400;
        line-height: 24.5px;
        letter-spacing: -0.02em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: rgba(132, 132, 132, 1);
        outline: none;
    }

}



.card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 equal-width columns */
    gap: 2rem; /* Space between items */
    width: 80%; /* Optional: Make grid responsive */
    margin-left: 2rem;
}






/* ------------------------------------MEDIA QUERIES------------------------------------------------------------- */

@media (min-width: 900px) {

    .userlist{
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Creates 3 equal columns */
        gap: 2rem; /* Adds space between the columns */
    }
}


@media (max-width: 950px) {

    .navbar-container .tabs{
        display: none;
    }

    .navbar-container{
       padding: 0.25rem 2rem;
    }

    .card-container{
        width: 90% !important;
        margin-left: 1rem;
    }

}


@media (max-width: 750px) {

    .card-container{
        display: flex;
        flex-direction: column;
        margin-left: unset;
        width: 88% !important;
    }

    .askcard{
        width: 93%;
    }

    .askquesbtn{
        visibility: hidden;
    }

    .space{
        display: none;
    }

    .toptitle{
        margin-left: unset !important;
        position: relative;
        left: 20%;
    }

}



.mobile-banner{
    display: none;
}
@media (max-width: 500px) {

    .desktop-banner{
        display: none !important;
    }

    .mobile-banner{
        display: block !important;
    }

}
  

@media (max-width: 500px) {

    .navbar-container .purple-action-btn{
        display: none;
    }

    .community-section {

        padding: 2rem 0 2rem 0;

        .user-card{
            width: 80%;
            /* flex-direction: row; */

            .pic{
                width:3.5rem;
                height:3.5rem;
            }
        }

        .sora-black-lg{
            font-size: 1.35rem;
        }
        
        .dmsans-black-md{
            font-size: 0.85rem;
        }
    }


    .lower-section{

        padding: 2rem 0 2rem 0;

        .sora-black-lg{
            font-size: 1.35rem;
            width: 90%;
        }

        .dmsans-black-md{
            font-size: 0.95rem;
            width: 90%;
        }

        .info-tabs{
            width: 75%;
            gap: 1.5rem;
        }

        .comment-card{
            width: 90%rem !important;
        }

        .interest-card-list{
            width: 100%;

            .interest-card{
                width: 80%;
            }
        }
    }

    @media (max-width: 450px) {

        .interest-name{
            font-size: 1.1rem !important;
        }

        .interest-img{
            width: 2.5rem !important;
            height: 2.5rem !important;
        }

        .interest-score{
            font-size: 1.65rem !important;
        }

    }

    .footer{
        padding: 1rem !important;
    }

}












