

.main-container{
    width: 100%;
    /* height: 100%; */
}

.navbar-container{
    display: flex;
    align-items: center;
    padding: 0.25rem 5rem;
    justify-content: space-between;
    flex-wrap: wrap;
}


.profile-option{
    display: flex;
    align-items:center;
    gap: 1.5rem;
    border: 1.5px solid #EFF0F6;
    padding: 0.45rem 1rem 0.45rem 0.45rem;
    border-radius: 1.5rem;
    width: 4.5rem;
    height: 2.1rem;
    cursor: pointer;
    box-shadow: 0px 5px 5px 0px #080F340A;

    .profile{
        border-radius: 6rem;
        width: 2.25rem;
    }

}

.footer{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 5.5rem;
    background: rgba(74, 58, 255, 1);
}


.middle-sec{
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    gap: 1.85rem;
    background: rgba(241, 247, 255, 1);
    width: 100%;
    height: 98%;
    padding: 2rem 0 2rem 0;
    justify-content: center;
}


.profile-card{

    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: rgba(255, 255, 255, 1);
    padding: 1.25rem;
    border-radius: 1rem;
    width: 20rem;

    .userpic{
        width: 5rem;
        height: 5rem;
        border-radius: 0.5rem;
    }

    .name{
        color: rgba(0, 0, 0, 1);
        font-family: DM Sans;
        font-size: 1.25rem;
        font-weight: 600;
    }

    .infotext{
        color: rgba(106, 106, 106, 1);
        font-family: DM Sans;
        font-size: 0.85rem;
        font-weight: 400;
    }

    .action-btn{
        background: rgba(241, 247, 255, 1);
        padding: 0.75rem 1.25rem;
        border-radius: 3rem;
        font-family: DM Sans;
        font-size: 1rem;
        font-weight: 700;
        text-align: center;
        cursor: pointer;
        color: rgba(74, 58, 255, 1);
        border: none;
        outline: none;

        &:hover{
            opacity: 0.5;
        }
    }

}


.convobox{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.25rem;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 0.08);
    width: 45rem;

    .convo-img{
        height: 7rem;
        width: 7rem;
        border-radius: 0.5rem;
    }

    .convotext{
        font-family: DM Sans;
        font-size: 1rem;
        font-weight: 500;
        color: rgba(0, 0, 0, 1);
        width: 75%;
    }

}


.redpart{
    padding: 0.75rem 0.95rem;
    border-radius: 10px;
    background: rgba(251, 237, 234, 1);
    font-family: DM Sans;
    font-size: 0.75rem;
    font-weight: 500;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(174, 36, 0, 1);
}

.greypart{
    padding: 0.75rem 0.95rem;
    border-radius: 10px;
    background: rgba(241, 241, 241, 1);
    font-family: DM Sans;
    font-size: 0.75rem;
    font-weight: 500;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(138, 118, 113, 1)
}



/* ------------------------------------MEDIA QUERIES------------------------------------------------------------- */


@media (max-width: 950px) {

    .navbar-container .tabs{
        display: none;
    }

    .navbar-container{
       padding: 0.25rem 2rem;
    }

}

  

@media (max-width: 500px) {

    .navbar-container .purple-action-btn{
        display: none;
    }

    .footer{
        padding: 1rem !important;
    }

}


@media (max-width: 850px) {

    .profile-card{
        width: 80% !important;
    }

    .convobox{
        width: 80% !important;
    }
}


@media (max-width: 650px) {

    .convo-img{
        width: 8rem !important;
        height: 8rem !important;
    }

    .tags{
        flex-wrap: wrap;
        width: 80%;
    }

    .convotext{
        flex-direction: column;
        width: 98% !important;
    }

    .imgtext{
        flex-direction: column;
    }
}



.input-dialog{
    width: 30%;
    height: 85%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: none;
  
      &::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
      }
}

@media (max-width: 1200px) {

    .input-dialog{
        width: 40% !important;
    }

}

@media (max-width: 1000px) {

    .input-dialog{
        width: 50% !important;
    }

}


@media (max-width: 700px) {

    .input-dialog{
        width: 60% !important;
    }

}

@media (max-width: 500px) {

    .input-dialog{
        width: 70% !important;
    }

}

@media (max-width: 400px) {

    .input-dialog{
        width: 80% !important;
    }

}
