

.main-container{

}

.navbar-container{
    display: flex;
    align-items: center;
    padding: 0.25rem 5rem;
    justify-content: space-between;
    flex-wrap: wrap;
}


.profile-option{
    display: flex;
    align-items:center;
    gap: 1.5rem;
    border: 1.5px solid #EFF0F6;
    padding: 0.45rem 1rem 0.45rem 0.45rem;
    border-radius: 1.5rem;
    width: 4.5rem;
    height: 2.1rem;
    cursor: pointer;
    box-shadow: 0px 5px 5px 0px #080F340A;

    .profile{
        border-radius: 6rem;
        width: 2.25rem;
    }

}


.community-section{
    background: rgba(241, 247, 255, 1);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0 5rem 0;
    gap: 1.75rem;
}

.user-card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: rgba(255, 255, 255, 1);
    padding: 1.5rem;
    border-radius: 1rem;

    .pic{
        border-radius: 0.5rem;
        width: 3rem;
        height: 3rem;
    }

    .name{
        font-family: DM Sans;
        font-size: 1rem;
        font-weight: 600;
        color: rgba(0, 0, 0, 1);
    }

}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5.5rem;
    background: rgba(74, 58, 255, 1);
}

