
/* GLOBAL STYLES */

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


html,body{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}



.flex-gap-05{
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.flex-gap-1{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.flex-gap-15{
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.flex-gap-2{
  display: flex;
  gap: 2rem;
  align-items: center;
}


.flex-col-gap-05 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.flex-col-gap-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.flex-col-gap-15 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.flex-col-gap-2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}


.flex-sb{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clickable{
  cursor: pointer;
}


.navbar-option{
  font-family: DM Sans;
  font-weight: 400;
  font-size: 1rem;
  text-align: Center;
  color: rgba(23, 15, 73, 1);
}


.purple-action-btn {
  background: rgba(74, 58, 255, 1);
  font-family: Sora;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;  
  border-radius: 4.5rem;
  border: none;
  outline: none;
  padding: 0.75rem 1.25rem;
  text-align: center;
  font-size: 0.85rem;
  font-family: Sora;
  cursor: pointer;

  &:hover{
    opacity: 0.85;
  }
}


.white-action-btn{
  padding: 0.85rem 1.25rem;
  gap: 0.25rem;
  border-radius: 2rem;
  background: rgba(255, 255, 255, 1);
  font-family: DM Sans;
  font-size: 1rem;
  font-weight: 700;
  color: rgba(74, 58, 255, 1);
  border: none;
  outline: none;
  cursor: pointer;

  &:hover{
    opacity: 0.5;
  }
}

.white-action-btn2{
  padding: 0.25rem 1rem;
  gap: 0.25rem;
  border-radius: 2rem;
  background: rgba(255, 255, 255, 1);
  font-family: DM Sans;
  font-size: 1rem;
  font-weight: 600;
  color: rgba(74, 58, 255, 1);
  border: 1px solid rgba(74, 58, 255, 1);
  outline: none;
  cursor: pointer;

  &:hover{
    opacity: 0.5;
  }
}

.red-action-btn{
  padding: 0.25rem 1rem;
  gap: 0.25rem;
  border-radius: 2rem;
  background: rgba(255, 255, 255, 1);
  font-family: DM Sans;
  font-size: 1rem;
  font-weight: 600;
  color: rgba(250, 0, 23, 1);
  border: 1px solid rgba(250, 0, 23, 1);
  outline: none;
  cursor: pointer;

  &:hover{
    opacity: 0.5;
  }
}


.red-section{
  background: rgba(247, 239, 240, 1);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-family: DM Sans;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.85rem;
  letter-spacing: -0.01em;
  color: rgba(250, 0, 23, 1);
}


.blue-section{
  background: rgba(240, 243, 248, 1);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-family: DM Sans;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.85rem;
  letter-spacing: -0.01em;
  color: rgba(0, 82, 201, 1);
}


.sora-black-md{
  font-family: Sora;
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: -0.01em;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;  
}

.sora-black-md2{
  font-family: Sora;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: -0.01em;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;  
}

.sora-black-lg{
  font-family: Sora;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.01em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;  
}

.sora-black-lg2{
  font-family: Sora;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.01em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;  
}

.dmsans-black-md{
  font-family: DM Sans;
  font-weight: 400;
  font-size: 1rem;
  text-align: Center;
  color: rgba(23, 15, 73, 1);
}

.dmsans-white-md{
  font-family: DM Sans;
  font-weight: 400;
  font-size: 1rem;
  text-align: Center;
  color: rgb(255, 255, 255);
}

.divider{
  opacity: 0.25;
  width: 100%;
}


.custom-input{
    padding: 0.75rem 1rem;
    border-radius: 1rem;
    border: var(--sds-size-stroke-border);
    background: #FFFFFF;
    border: 1px solid #00000033;
    outline: none;
    width: -webkit-fill-available;
    color: #000000;
    font-family: Plus Jakarta Sans;
    font-size: 0.85rem;
    font-weight: 500;
    line-height: 24.5px;
    letter-spacing: -0.02em;
  }



  .iphone-toggle{
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }
    
    .switch input { 
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    input:checked + .slider {
      background-color: #34C759;
    }
    
    input:focus + .slider {
      box-shadow: 0 0 1px #34C759;
    }
    
    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
    
    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }
    
    .slider.round:before {
      border-radius: 50%;
    }
  }




  .nav-green-btn{
    cursor: pointer;
  }




  .navbar-select {
    position: relative;
    display: inline-block;
    width: 200px; /* Adjust width */
  }
  
  .navbar-select select {
    appearance: none; /* Remove default arrow */
    -webkit-appearance: none; /* Safari support */
    -moz-appearance: none; /* Firefox support */
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 10px 40px 10px 10px; /* Space for the custom icon */
    font-size: 16px;
    color: #333;
    cursor: pointer;
    background: url('assets/arrow-down.svg') no-repeat right 10px center; /* Custom arrow icon */
    background-size: 12px; /* Adjust icon size */
  }
  
  .navbar-select select:focus {
    outline: none; /* Remove focus outline */
  }
  
  